@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a, .link {
    @apply text-blue-700;
  }
  a:hover, .link:hover {
    text-decoration: underline;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

.leaflet-map {
  height: 600px;
}