@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a, .link {
    @apply text-blue-700;
  }
  a:hover, .link:hover {
    text-decoration: underline;
  }
  .link {
    cursor: pointer;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

html, body {
  height: 100%;
}

#map-container {
  height: 65vh;
}
#control-container {
  height: 35vh;
  overflow: scroll;
}
@media (min-width: 768px) {
  #map-container {
    height: 100vh;
  }
  #control-container {
    height: 100vh;
  }
}

#modal {
  z-index:1001;
}
